body {
  font-family: "Montserrat", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.navbar {

  background-color: #551f1a;
}
.tiposmomias {

  background-color: #31120f;
}

.btn {

  background-color: #551f1a;
  border-color: #551f1a
  ;
}



/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(69, 32, 32);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  color: #fff;
  background-color: #551f1a;
  border-color: #551f1a; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #31120f;
  border-color: #31120f; /*set the color you want here*/
}

.deposito{
  display: inline-block;
  margin: 4em;
  height: 300px;
  width: 300px;
  vertical-align: middle;
   
}

.app{
margin-top: 55px;
}

.featurette-heading{
  font-weight: 900;
  font-size: 33pt;
}
.depositoSlider{
height: 100%;
width: 100%;

}


  .FotoPerfil{
    /*position:absolute;
    /*top: 580px;*/
    /*left : 66%;*/
    /*bottom: 66%;*/

    z-index: 1;
}
